@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.cdnfonts.com/s/85546/Satoshi-Regular.woff')
    format('woff');
}
@font-face {
  font-family: 'Satoshi';
  font-style: italic;
  font-weight: 400;
  src: url('https://fonts.cdnfonts.com/s/85546/Satoshi-Italic.woff')
    format('woff');
}
@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 300;
  src: url('https://fonts.cdnfonts.com/s/85546/Satoshi-Light.woff')
    format('woff');
}
@font-face {
  font-family: 'Satoshi';
  font-style: italic;
  font-weight: 300;
  src: url('https://fonts.cdnfonts.com/s/85546/Satoshi-LightItalic.woff')
    format('woff');
}
@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 500;
  src: url('https://fonts.cdnfonts.com/s/85546/Satoshi-Medium.woff')
    format('woff');
}
@font-face {
  font-family: 'Satoshi';
  font-style: italic;
  font-weight: 500;
  src: url('https://fonts.cdnfonts.com/s/85546/Satoshi-MediumItalic.woff')
    format('woff');
}
@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.cdnfonts.com/s/85546/Satoshi-Bold.woff')
    format('woff');
}
@font-face {
  font-family: 'Satoshi';
  font-style: italic;
  font-weight: 700;
  src: url('https://fonts.cdnfonts.com/s/85546/Satoshi-BoldItalic.woff')
    format('woff');
}
@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 900;
  src: url('https://fonts.cdnfonts.com/s/85546/Satoshi-Black.woff')
    format('woff');
}
@font-face {
  font-family: 'Satoshi';
  font-style: italic;
  font-weight: 900;
  src: url('https://fonts.cdnfonts.com/s/85546/Satoshi-BlackItalic.woff')
    format('woff');
}

body {
  font-family: 'Satoshi', sans-serif;
}

.monaco-editor {
  outline: 0;
  --vscode-focusBorder: transparent !important;
}

.monaco-editor * > .slider {
  border-radius: 12px;
  background-color: #e2e8f0 !important;
  opacity: 0.9 !important;
}

/* Hide scrollbars in Chromatic to prevent diff issues */
.monaco-editor .scrollbar {
  display: none !important;
}

.monaco-editor .monaco-scrollable-element > .scrollbar {
  display: none !important;
}
